.navbar-inverse {
   background: rgba(62, 59, 232, 1);
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255,255,255,0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
  @media (max-width: 767px) {
    background: rgba(255,255,255,0.75);
  }
}
.navbar-inverse .navbar-nav > li > a {
color: black;
  

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: rgba(23, 20, 173, 1);

}

.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 220px; 
}

.left {
    float:left;
}

.right {
    float:right;
}

.container-fluid > .content {
    margin: 0 240px; 
}

.gambar{
	border: 2px solid black;
    width: 500px;
    height: 300px;
    text-align: center;
}

table.tabel{
	border-style: none;
}

div.kotak {
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid black;
  height: 70px;
  width: 70px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.kotak p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

p.tengah{
	vertical-align: middle;
}